*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} 

/* general */
.flex{
    display: inline-flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.span-little{
    font-size: 0.9em;
}

.txt-uc{
    text-transform: uppercase;
}

.cl-wh{
    color: #fff;
}

.op-05{
    opacity: 0.5;
}

/* header */
header{
    width: 80vw;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: brown;
    text-align: right;
}

header .upgrade{
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 20px;
}

header .upgrade a{
    text-decoration: none;
    padding: 10px 20px; /*  aumenta area cliccabile  */
    display: inline-block; /*  aumenta area cliccabile  */
}




/* aside */
aside{
    width: 20vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    height: calc(100vh - 80px);
}

    /* aside logo */
aside .logo{
    display: flex;
    height: 80px;
    margin-left: 15px;
}

aside .logo img{
    width: 50%;
}

    /* aside actions */
aside .actions{
    margin-left:15px ;
}   

.act{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.act img{
    width: 30px;
    height: 30px;
}

.search.act img, .library.act img{
    filter: opacity(0.5);
}

    /* aside playlist */
aside .playlist{
    margin-top: 10px;
    margin-left: 15px;
    line-height: 38px;
    overflow-y:auto;
}

aside .playlist ul li .fas.fa-plus{
    background-color: #a3a3a3;
    padding: 10px;
    color: black;
}
/* main */
main{
    width: 80vw;
    height: calc(100vh - 80px);
    margin: 80px 0px;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

/* footer */
footer{
    height: 80px;
    width: 100vw;
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
}

/* divs prove */
.prova{
    height: 500px;
    width: 100%;
    background-color: chartreuse;
}

.prova2{
    background-color: chocolate;
}

.prova3{
    background-color: darkgray;
}