*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* header */
header{
    width: 80vw;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: brown;
    text-align: right;
}

header .upgrade{
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 20px;
}

header .upgrade a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
}




/* aside */
aside{
    width: 20vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    height: calc(100vh - 80px);
}

/* main */
main{
    width: 80vw;
    height: calc(100vh - 80px);
    margin: 80px 0px;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

/* footer */
footer{
    height: 80px;
    width: 100vw;
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
}

/* divs prove */
.prova{
    height: 500px;
    width: 100%;
    background-color: chartreuse;
}

.prova2{
    background-color: chocolate;
}

.prova3{
    background-color: darkgray;
}