*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} 

/* general */
.flex {
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.span-little{
    font-size: 0.9em;
}

.span-lt-little{
    font-size: 0.8em;
}

.txt-uc{
    text-transform: uppercase;
}

.cl-wh{
    color: #fff;
}

.cl-a3{
    color: #a3a3a3;
}

.op-05{
    opacity: 0.5;
}

.mg-30-0{
    margin: 30px 0px;
}

.mg-30-15{
    margin: 30px 15px;
}

.mg-50-15{
    margin: 50px 15px;
}

/* header */
header{
    width: 80vw;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    background-color: #090B13;
    opacity: 0.8;
    z-index: 999;
}

header .upgrade{
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 20px;
}

header .upgrade a{
    text-decoration: none;
    padding: 10px 20px; /*  aumenta area cliccabile  */
    display: inline-block; /*  aumenta area cliccabile  */
}




/* aside */
aside{
    width: 20vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    height: calc(100vh - 80px);
}

    /* aside logo */
aside .logo{
    height: 80px;
    margin-left: 15px;
}

aside .logo img{
    width: 50%;
}

    /* aside actions */
aside .actions{
    margin-left:2px ;
}   

.act{
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    padding: 0px 15px;
}

.act img{
    width: 30px;
    height: 30px;
}

.home.act{
    border-left: 3px solid green;
}

.search.act, .library.act{
    border: 3px solid transparent;
}

.search.act img, .library.act img{
    filter: opacity(0.5);
}

    /* aside playlist */
aside .playlist{
    margin-top: 10px;
    margin-left: 2px;
    line-height: 38px;
    overflow-y:auto;
}

aside .playlist ul li{
    padding: 0px 15px;
}

aside .playlist ul li .fas.fa-plus{
    background-color: #a3a3a3;
    padding: 10px;
    color: black;
}

    /* aside bottom actions */
aside .actions-btm{
    width: 90%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    align-content: center;
    justify-content: space-around;
    background-color: black;
    z-index: 999;
}

aside .actions-btm img{
    width: 15px;
    height: 15px;
}
aside .actions-btm hr{
    border: 1px solid rgba(255,255,255,0.5);
}

aside .actions-btm .profile{
    background-color: #a3a3a3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

aside .actions-btm .act-btm{
    height: 10px;
    align-items: center;
    gap: 15px;
    margin: 10px 0px;
}
/* main */
main{
    width: 80vw;
    height: calc(100vh - 80px);
    padding: 80px 0px 0px 0px;
    background-color: #141922;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

    /* nav main */
nav{
    width: 100% ;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    margin: 10px;
    color: #a3a3a3;
    padding: 0px 10px; 
}

nav ul li:first-child a::after{
    border:1px solid green;
    content: "";
    width: 30%;
    margin: auto;
    display: block;
}

    /* main generale */
main .row{
    gap: 20px;
    flex-wrap: wrap;
}

main .row .row-album{
    flex-basis: 135px;
    align-items: center;
}

main .row .row-album .row-cover{
    width: 11vw;
    height: 11vw;
    position: relative;
}


main .row .row-album .row-cover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.5s;
}


main .row .row-album .row-info{
    align-items: center;  
    text-align: center;
    margin: 10px 0px;  
}

    /* main recent */

#recent .row .row-album .row-cover .fa-play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 999;
    font-size: 3em;
    display: none;
}

    /* main popular */
#popular .row .row-album .row-cover img{
    border-radius: 50%;
}


/* footer */
footer{
    height: 80px;
    width: 100vw;
    background-color: #292929;
    position: fixed;
    bottom: 0;

}

footer .ft-left, footer .ft-right{
    width: 20vw;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    font-size: 0.8em;
}


footer .ft-center{
    width: 65vw;
    height: 100%;
    line-height: 1.8em;
    padding: 5px 0px;
}

    /* ft-left */
footer .ft-left .song-player{
    gap: 10px;
    align-items: center;
}    

footer .ft-left .song-player .album-cover{
    width: 40px;
    height: 40px;
}

footer .ft-left .song-player .album-cover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .ft-left .song-player .song-info{
    line-height: 15px;
    justify-content: center;
}

    /* ft-center */
footer .ft-center .player-act{
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer .ft-center .player-act .fa-play-circle{
    font-size: 2em;
}

footer .ft-center .player-info{
    justify-content: space-evenly;
    align-items: center;
}

footer .ft-center .player-info::after{
    content: "4:35";
    color: #fff;
    font-size: 0.6em;
}

footer .ft-center .player-info::before{
    content: "0:25";
    color: #fff;
    font-size: 0.6em;
}

footer .ft-center .player-progression, footer .ft-right .vl-rocker{
    width: 65%;
    height: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
    position: relative;
}

footer  .progression-bar{
    width: 20%;
    height: 100%;
    border-radius: 20px;
    background-color: #c1c1c1;
}

footer .progression-circle{
    position: absolute;
    top: -2px;
    left: 19%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
}

    /* ft-left */
footer .ft-right{
    font-size: 0.8em;
    gap: 10px;
}


    /* hover */
header .upgrade:hover{
    transform: scale(1.1);
}   

aside .actions a:hover img {
    filter:opacity(1);
}

aside .actions .wh-hov:hover, aside .playlist .wh-hov:hover, aside .playlist li:nth-child(2):hover span, aside .actions-btm .act-btm:hover span, main .wh-hov:hover a, footer .ft-left .wh-hov:hover{
    color: #fff;
}

aside .playlist li:nth-child(2):hover .fas.fa-plus{
    background-color: white;
}

#recent .row .row-album .row-cover:hover .fa-play-circle{
    display: block;
}

#recent .row .row-album .row-cover:hover img{
    opacity: 0.5;
}

footer .ft-left .song-player .song-info .song-name:hover{
    text-decoration: underline;
}

footer .ft-center .player-act .far.fa-play-circle:hover{
    transform: scale(1.1);
}

footer .ft-center .player-info .player-progression:hover .progression-circle, footer .ft-right .vl-rocker:hover .progression-circle{
    display: block;
}

footer .ft-center .player-info .player-progression:hover .progression-bar, footer .ft-right .vl-rocker:hover .progression-bar{
    background-color: green;
}


/* versione lg da min-width 992px a max-width 1199px */

/* versione md */ a
