@media screen and (max-width:768px){


    footer #ft-center .player-act .fas.fa-random, footer #ft-center .player-act .fas.fa-redo-alt{
        display: none;
    }

    footer #ft-center .player-info::before{
        display: none;
    }

    footer #ft-center .player-info::after{
        content:"0:25 / 4:35" ;
    }

    footer #ft-center .player-info .player-progression, footer #ft-right .vl-rocker{
        width: 30%;
    }

    footer #ft-right{
        gap:0px
    }

    footer #ft-right .fas.fa-list, footer #ft-right .fas.fa-desktop{
        display: none;
    }

    @media screen and (max-width: 576px){

        main .cta{
            background-color: transparent;
        }

        main .cta button{
            background-color: #141923;
            opacity:0.5;
        }

        main .cta button:hover{
            opacity: 1;
            color: yellowgreen;
            border: 1px solid green;
        }

        footer #ft-left .ft-album-act{
            display: none;
        }

    }
        
    
}
