*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} 

/* generali */
ul {
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #a3a3a3;
}

.cl-wh{
    color: #fff;
}

.cl-a3{
    color: #a3a3a3;
}

.op-05{
    filter: opacity(0.5);
}

.size-big{
    font-size: 1em;
    font-weight: bold;
}

.size-medium{
    font-size: 0.9em;
}

.size-little{
    font-size:0.7em
}



/* aside */
aside{
    width: 250px;
    height: calc(100vh - 80px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /* aside logo */
aside .logo{
    height: 80px;
    min-height: 80px;
    width: 100%;
    padding: 10px 15px
}
aside .logo .logo-big{
    width: 80%;
}

aside .logo .logo-small{
    display: none;
}

    /* aside actions */
aside .actions{
    width: 100%;
    height: calc(100vh - 150px);
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

aside .actions .act-nav ul li{
    padding: 10px 25px;
    margin: 10px 0px;
    border-left: 3px solid transparent;
}

aside .actions .act-nav ul li:first-child{
    border-left: 3px solid green;
}

aside .actions .act-nav ul li a{
    color: #fff;
    display: flex;
    align-items: center;
}

aside .actions .act-nav img{
    width: 15%;
    margin-right: 20px;
}


/* aside playlist */
aside .actions .act-playlist{
    margin-top: 20px;
    overflow-y: auto;
}

aside .actions .act-playlist ul li{
    padding: 10px 25px;
}

aside .act-playlist ul li .fas.fa-plus{
    background-color: #a3a3a3;
    padding: 10px;
    color: black;
    margin-right: 10px;
}

.actions-btm{
    width: 100%;
    height: 150px;
}

aside .actions-btm img{
    width: 8%;
    margin-right: 20px;
}

aside .actions-btm .profile img{
    background-color: #a3a3a3;
    border-radius: 50%;
    width: 15%;
}

aside .actions-btm .profile span{
    color: white;
}

aside .actions-btm ul li{
    padding: 10px 25px;
}

aside .actions-btm ul li a{
    display: flex;
    align-items: center;
}

/* main */
main{
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    background-color: #141923;
    position: fixed;
    top: 0;
    right: 0;
}

main .row-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    margin: 20px 0px;
}

main .album{
    flex-basis: 130px;
    text-align: center;
}

main .album .album-img{
    width: 130px;
    
}

main .row-flex .album .album-img img{
    width: 100%;
    
    transition: all 0.5s;
}

main .album .album-info{
    margin-top: 10px;
}

    /* main cta */
main .cta{
    text-align: right;
    line-height: 80px;
    height: 80px;
    min-height: 80px;
    background-color: rgba(0,0,0,0.5);
    width: calc(100% - 250px);
    min-width: 300px;
    position: fixed;
    top: 0;
    z-index: 999;
}

main .cta button{
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: transparent;
    padding: 16px 32px;
    text-transform: uppercase;
    margin-right: 20px;
    color: white;    
}

    /* main container */
main .main-container{
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow-y: scroll;
}

    /* main nav */
main #main-nav{
    text-align: center;
    margin-bottom: 50px;
}

main #main-nav ul li{
    display: inline-block;
    margin: 20px;
    text-transform: uppercase;
}

main #main-nav ul li:first-child a::after{
    border:1px solid green;
    content: "";
    width: 30%;
    margin: auto;
    display: block;
}

    /* main recents */
main #recents, main #suggest, main #popular{
    padding: 15px 25px;
}

    /* main popular */
#popular img{
    border-radius: 50%;
}


/* footer */
footer{
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
}

footer  .progression-bar{
    width: 20%;
    height: 100%;
    border-radius: 20px;
    background-color: #c1c1c1;
}

footer .progression-circle{
    position: absolute;
    top: -2px;
    left: 19%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
}  

    /* footer left */
footer #ft-left, footer #ft-right{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer #ft-left .ft-album-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer #ft-left .ft-album-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer #ft-left .ft-album-act{
    margin-left: 20px;
}

footer #ft-left .ft-album-act .far{
    margin: 2px;
}

    /* footer center */
footer #ft-center{
    width: calc(100% - 500px);
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer #ft-center .player-act{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer #ft-center .player-act .fas{
    font-size: 1.2em;
}

footer #ft-center .player-act .far.fa-play-circle{
    font-size: 2em;
}

footer #ft-center .player-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer #ft-center .player-info::before{
    content: "0:25";
    color: #fff;
    font-size: 0.6em;
}

footer #ft-center .player-info::after{
    content: "4:35";
    color: #fff;
    font-size: 0.6em;
}

footer #ft-center .player-progression, footer #ft-right .vl-rocker{
    width: 60%;
    height: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
    position: relative;
}

    /* footer right */
footer #ft-right{
    font-size: 0.8em;
    gap: 10px;
}

/* hover */

    /* aside hover */
aside .actions  .act-nav a:hover img{
    filter: opacity(1);
}

aside .actions  .act-nav a:hover span{
    color: #fff;
}

aside .actions .act-playlist a:hover span{
    color: #fff;
}

aside .actions .act-playlist li:hover a{
    color: #fff;
}

aside .actions .act-playlist li:hover i{
    color: #000;
    background-color: white;
}

aside .actions-btm ul li:hover:nth-child(1) span{
    color: white;
}

    /* main hover */
main .cta .upgrade:hover{
    transform: scale(1.1);
}   

main #main-nav ul li a:hover{
    color: #fff;
}

#recents .row-flex .album .album-img{
    position: relative;
}

#recents .row-flex .album .album-img .far.fa-play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 999;
    font-size: 3em;
    display: none;
}

main #recents .row-flex .album .album-img:hover img{
    filter: opacity(0.5);
}

main #recents .row-flex .album .album-img:hover .far.fa-play-circle{
    display: block;
}


    /* footer hover */
footer #ft-left .ft-album-info span:hover{
    text-decoration: underline;
    color: #fff;
}

footer #ft-left .ft-album-act i:hover{
    color: #fff;
}

footer #ft-center .player-act .far.fa-play-circle:hover{
    transform: scale(1.1);
}

footer #ft-center .player-info:hover .progression-circle, footer #ft-right .vl-rocker:hover .progression-circle{
    display: block;
}

footer #ft-center .player-info:hover .progression-bar, footer #ft-right .vl-rocker:hover .progression-bar{
    background-color: green;
}

/* mediaquery */

/* versione lg da min-width 992px a max-width 1199px */


/* versione md */
@media screen and (max-width:992px) and (min-width:769px){

    /* md main */
    main .album {
        flex-basis: 145px;
    }

    main .album .album-img{
        width: 145px;
        
    }


}

/* versione s */
@media screen and (max-width:768px) and (min-width:577px){

    /* s aside */
    aside{
        font-size: 0.9em;
    }

    aside .logo .logo-big{
        width: 65%;
    }

    /* s main */
    main .album {
        flex-basis: 40%;
    }

    main .album .album-img{
        width: 100%;
        
    }
   

}

/* versione xs */
@media screen and (max-width:576px) {
    
    /* xs aside */
    aside{
        width: 50px;
    }

    aside .logo {
        height: 60px;
        min-height: 40px;
        width: 100%;
        padding: 12px;
    }

    aside .logo .logo-big{
        display: none;
    }

    aside .logo .logo-small{
        display: block;
    }

    aside .logo .logo-small{
        transform: scale(1.5);
    }

    aside .actions .act-nav ul li{
        border: none;
        padding: 0;
        margin: 0;
    }

    aside .actions .act-nav ul li:first-child{
        border: none;
    }

    aside .actions .act-nav ul li a{
        justify-content: center;
    }

    aside .actions .act-nav img{
        width: 65%;
        margin: 0;
    }

    aside .actions .act-nav span{
        display: none;
    }

    aside .actions .act-playlist{
        display: none;
    }

    aside .actions-btm{
        position: relative;
        bottom: 10px;
    }

    aside .actions-btm ul{
        position: absolute;
        bottom: 0;
    }

    aside .actions-btm ul li{
        padding: 0;
    }

    aside .actions-btm ul li hr{
        display: none;
    }

    aside .actions-btm ul li a{
        padding: 5px 10px;
        justify-content: center;
    }

    aside .actions-btm ul li a span{
        display: none;
    }

    aside .actions-btm img{
        margin: 10px 0px;
        width: 70%;
    }

    aside .actions-btm .profile img{
        width: 100%;
    }

    /* xs main */
    main, main .cta{
        width: calc(100% - 50px);
    }

    main .album {
        flex-basis: 45%;
    }

    main .album .album-img{
        width: 100%;
        
    }

    /* xs footer */
    footer #ft-left, footer #ft-right{
        width: 25%;
    }

    footer #ft-center{
        width: 50%;
        min-width: 0px;
    }
}